apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-ntqxlxvt
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-ntqxlxvt:7e0f3bc588b11e44c47517829d55c9071a9430b5@sha256:e0e61769e602ae59f5c6fe993ea01ee44869c9839413f0b7987807a0e01707e1
          name: container-image
